In [1]:
import pandas as pd

In [2]:
taxi10000 = pd.read_csv('sample10000.csv', parse_dates=[1,2])
taxi10000.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

In [8]:
numbCachePayer = len(taxi10000.loc[taxi10000['payment_type'] == 2])

In [7]:
cachePayerProportion = float(len(taxi10000.loc[taxi10000['payment_type'] == 2])) / len(taxi10000)
print cachePayerProportion

0.3543

In [9]:
from statsmodels.stats.proportion import proportion_confint
proportion_confint(numbCachePayer, len(taxi10000), alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

In [14]:
avgTripDistance = taxi10000['trip_distance'].mean()
print avgTripDistance

2.881264

In [15]:
import numpy as np
s = taxi10000['trip_distance'].std(ddof=1) / np.sqrt(len(taxi10000['trip_distance']))
s

0.035839254113945153

In [16]:
from statsmodels.stats.weightstats import _tconfint_generic
_tconfint_generic(taxi10000['trip_distance'].mean(), 
                  s, 
                  len(taxi10000['trip_distance']) - 1, 
                  0.05, 'two-sided')

(2.8110118487985924, 2.9515161512013965)